* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.about {
    /* background: rgb(130, 132, 250);
    background: linear-gradient(360deg, rgb(245, 255, 245) 0%, rgb(187, 194, 226) 100%); */
    padding: 60px 0 0px 0;
    text-align: center;
}
 
.about p {
    font-size: 1rem;
    color: #323030;
    margin: 0 auto;
}
 
.about-info {
    margin: 2rem 2rem;
    display: flex;   
    text-align: left;
}
 
.about-info p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    text-align: justify;
}
.container{
    display: flex;
}

.box-1{
    flex: 1;
    height: 300px;
}
.box-2{
    flex: 1;
    height: 300px;
}
.video-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 2rem;
    
}
h4{
    margin-bottom: 1rem;
}



.video-container {
    max-width: 48%; 
    margin-bottom: 10px;
}


video {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .video-row {
        flex-direction: column;
    }
    .video-container {
        max-width: 100%;
    }
}
@media (max-width: 768px) {
   
    .about h1 {
        font-size: 2rem;
    }
 
    .about p {
        font-size: 0.9rem;
    }
 
    .about-info {
        flex-direction: column;
        text-align: center;
    }
 
  
    .about-info p {
        margin: 1rem 2rem;
    }
   
    .container{
        flex-direction: column;
    }

 
    
}