<section class="about">
    
        <div class="about-info">
  
            <div>
              <h4>Dubinska ekološka impregnacija</h4>
     <p>
      Dubinska ekološka impregnacija (zaštita) drveta je proces kojim se postiže potpuno prodiranje ekološkog
       zaštitnog sredstva (tzv. impregnant) u celokupnu strukturu drveta, nezavisno od njegove debljine i
        oblika. Proces se odvija u specijalnoj komori (tzv. autoklava), maksimalne dužine 9 metara, upotrebom
         vakuma od -0,99 (skoro apsolutnog) i visokog pritiska, za ubrizgavanje rastvora u poprečni presek 
         drveta (od 9 do 15 bara). Ovim tretmanom se postiže otpornost drveta na vlagu (truljenje), insekte
          (žižak, muslica, sipac, strižibuba) u vremenu od najmanje 30 godina u uslovima spoljašnje 
          eksploatacije drveta (klupe, stubovi, ograde, podovi za terase i šetališta, mostove, stubove za
           vinograde i protivgradne mreže). Rastvor ima i protivpožarnu komponentu koja smanjuje vreme pojave
            plamena 2,5 puta. Za upotrebu drveta u unutrašnjim uslovima (krovna konstrukcija, binderi,
             konstrukcije za sportske hale i industrijske objekte, stepeništa, brodski i ostali podovi,
              stolarija i nameštaj) taj vremenski period je oko 100 godina. Koristimo samo najkvalitetnija 
              sredstva za impregnaciju vodećih svetskih proizvođača.</p>


              <h4>Atest</h4>
              <p>Za proces impregnacije drveta firme Rajan d.o.o. Atest je izdalo naučno veće Centra za 
                hemiju pri Institutu za hemiju, tehnologiju i metalurgiju univerziteta u Beogradu.</p>
         
            </div>

        </div>

          <div class="video-row">
            <div class="video-container">
                <video controls>
                    <source src="http://www.rajanwood.com/public/video/rajan-doo-impregnacija-drveta-01.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="video-container">
                <video controls>
                    <source src="http://www.rajanwood.com/public/video/rajan-doo-impregnacija-drveta-02.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>



    </section>
    