<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://www.rajanwood.com/public/img/rajan-doo-impregnacija-drveta-large-hoteli_16.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">O nama</h1><br>
      <p class="w3-large">Firma Rajan d.o.o u vlasnistvu Zivote Djordjevic je osnovana 1992 godine. Osnovna delatnost od osnivanja bila je trgovina na 
        veliko oblom gradjom i polufabrikatima od drveta. Od 1995. do 2009. bavila se izvozom rezane gradje
         u Grcku i Italiju i uvozom hidraulicnih ulja.</p>
      <p class="w3-large w3-text-grey w3-hide-medium"> Od 2009. godine bavi se impregnacijiom drveta i proizvoda
        od drveta. Na ovom sajtu mozere pogledati nas proces proizvodnje,nase proizvode, izabrane klijenr kao
         i galeriju radova. Takodje nas mozete naci i na nasem Facebook profilu. Za opsirnije informacije
          kontaktirajte nas.</p>
    </div>
  </div>
  

  
