h1{
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    margin:10px 0
}
.w3-image{
    max-width:100%;
    height:auto
}

.w3-row:after{
    content:"";
    display:table;
    clear:both
}
.w3-col{
    float:left;
    width:100%
}
@media (min-width:601px){  
.w3-col.m6{width:49.99999%}
}

.w3-large{
    font-size:18px!important
}

.w3-center{
    text-align:center!important
}
.w3-padding-large{
    padding:12px 24px!important
}


.w3-padding-64{
    padding-top:64px!important;
    padding-bottom:64px!important
}
