 #header {
  height: 65px;
}

#header.header-transparent {
  background: #854830;
  border-radius: 0 0 50% 50%;

}
#header .logo h1 {
  font-size: 28px;
  margin: 0;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 13px;
}



#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

.site-nav{
  position: absolute;
  background: #464655; 
  top: 100%;
  right: 0%;
  clip-path: circle(0px at top right);
  /* transition: clip-path ease-in-out 500ms; */
}

.site-nav--open{   
  clip-path: circle(200% at top right);    
}
.site-nav ul{
  margin:23px auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-nav ul li{
  
  color:#888888;
  display: block;
  padding: 1em 4em 1em 1em; 
  border-bottom: 1px solid #545454;
}

.site-nav a{
  color:#ffffff;
  text-decoration: none;
  font-family: Quicksand,'sans-serif';
  font-size: 20px;
  font-weight: 400;
}
.site-nav a:hover {
  color: #e26e41;
}



.site-nav--icon{
  margin-right: 10px;
  color:#a7a7a7;
  display: inline-block;
  width:1em;
  text-align: center;
}

.menu-toggle{

padding: 1em;
position: absolute;
right: 0.5em;

}
.hamburger, .hamburger::before, .hamburger::after{
  content: '';
  display: block;
  background: #ffffff;
  height: 3px;
  width: 1.5em;
  border-radius: 3px;
  transition:0.3s ease-in-out;

}
.hamburger::before{
  transform: translate(0, -5px)
}

.hamburger::after{
  transform: translate(0, 2px)
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}



#hero {
  width: 100%;
  height: 35vh;
  overflow: hidden;
  position: relative;
}

#hero::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 115vw;
  height: 94%;
  background-size: cover;
  background-image:  url('./nina-header.jpg');
  z-index: 0;
  border-radius: 0 0 50% 50%; 
  transform: translateX(-50%) rotate(0deg);
}

#hero::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 115vw;
  height: 91%;
  background: rgba(109, 52, 30, 0.5);
  background-size: cover;
  z-index: 0;
  border-radius: 0 0 50% 50%;
  transform: translateX(-50%) translateY(18px) rotate(2deg);
}


@media (min-width:913px){
  .menu-toggle{
    display: none;
  }

  .site-nav{
    position:relative;
    height: auto;
    background: transparent;
    float: right;
    clip-path: initial;
    
  }
  .logo{
    margin: 10px 0 0;
  }
  .site-nav ul li{
    display: inline-block;
    border-bottom:unset;
    padding: 1em;
  }
  .site-nav--icon{
  
  display: none;
}
} 