* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 .card {
    width: 450px; 
    margin-right: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    margin-right: 20px; 
  }

@media (max-width: 768px) {
   
 
    
}