

h4 {
	position: relative;
	
	margin: 0;
	
	color: #6d341e;
	margin-bottom: 20px;
	text-align: center;
	overflow: hidden;
    margin-top: 20px;
}

.content,.auto{
    margin-left:auto;
    margin-right:auto
}



ul {
	position: relative;
	width: 100%;
	max-height: 230px;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-bottom: 15px;
}

ul li {
	position: relative;
	color: #000000;
	padding: 10px 50px 10px 12px;
	font-size: 12pt;
	line-height: 24pt;
	font-weight: 500;
	margin: 0px 60px 0px 0px;
	transition: all 0.1s linear;
}


ul li:hover {
	background: #ccc;
	color: black;
	cursor: pointer;
	text-shadow: none;
	transition: all 0.1s linear;
}













