<section class="ponuda">
    <h1>Ponuda</h1>
    <p style="font-weight: bold">Firma Rajan d.o.o. raspolaže instalisanim kapacitetom od 8 do 10m³ na dan. 
        Takođe, vršimo i uslužnu impregnaciju Vašeg drveta. Spremni smo da izađemo u susret svakom Vašem 
        zahtevu i specifikaciji. Kod nas možete naručiti sledeće vrste impregnisane građe:</p>
   
        <div class="list-container">
           
            <div class="row">
                <div class="col-6">
                    <ul>
                        <li>Šindra</li>
                        <li>Decking podovi, za bašte, terase i vrtove</li>
                        <li>Block house profili (polu-oblice)</li>
                        <li>Impregnisani stubovi od crnog bora od Ø6 do Ø20</li>
                        <li>Ograde od impregnisanog drveta</li>
                        <li>Anti sound paneli</li>
                        <li>Klupe za parkove</li>
                        <li>Grede, daske, letve</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul>
                        <li>Bor (crni, beli)</li>
                        <li>Daglasova jela</li>
                        <li>Smrča</li>
                        <li>Topola (domaća, kanadska)</li>
                        <li>Jela</li>
                        <li>Jasen</li>
                        <li>Hrast</li>
                        <li>Bukva</li>
                    </ul>
                </div>

            </div>
         
       
        
    </div>
</section>
